* {
    box-sizing: border-box;
}

body {
    margin: 0%;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    height: 100vh;

}

label {
    color: #596f99;
}


.register-box {

    background-color:#1cbdfc;
    border:3px solid #108032;
    border-radius: 30px;

    width: 50%;
    height: 65%;
    box-shadow:0 0 10px #00000060;


}


.title
{
margin: 5% 1%;
text-align: center;
color: #ffffff;


}

.form-box {
    margin-left: 8%;


}



.inputs {
   display: block;
    padding:2%;
    width: 91%;
    border: none;
    border-radius: 7px;
    margin-bottom: 2%;
}


textarea{
    width: 91%;
    height: 144px;
    max-height: 144px;
  max-width: 91%;
}


.submit-btn {
    background-color: #0758ba;
    border-radius: 13px;
    padding: 2% 4%;
    border: none;
    color: white;
    font-size: 146%;
    margin-top: 2%;
  
}