* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
}

.number-grid {
  display: flex;
  flex-direction: row;
  gap: 0; /* no space between boxes */
  width: 100%;
  height: 100vh;
  
}

.box {
    text-align: center;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  width: 12%;
}

/* Different background colors */
.box:nth-child(1) { background-color: #ff595e; }
.box:nth-child(2) { background-color: #ffca3a; }
.box:nth-child(3) { background-color: #8ac926; }
.box:nth-child(4) { background-color: #1982c4; }
.box:nth-child(5) { background-color: #6a4c93; }
.box:nth-child(6) { background-color: #ff7b00; }
.box:nth-child(7) { background-color: #00b4d8; }
.box:nth-child(8) { background-color: #8338ec; }
.box:nth-child(9) { background-color: #ff006e; }
.box:nth-child(10) { background-color: #06d6a0; }
