body {
    margin: 1;
    padding: 0;
    background-color: #ff80ff;
}



.sec1 {
    display: flex;
}

.text {

    margin: 1%;

    background-color: #ebebed;
    width: 242px;
    height: 154px;
    overflow: hidden;

}

.sec2 {
   overflow-y: scroll;
    width: 100%;
    height: 81px;
    border-top: 7px solid black;
    border-bottom: 7px solid black;

}