* {
    box-sizing: border-box;
}

body {
    margin: 0%;
    justify-content: center;
    align-items: center;
    background-color: #a3c9ff;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    height: 100vh;

}

label {
    color: #596f99;
}


.register-box {

    background-color: white;
    border-radius: 30px;

    width: 24%;
    height: 65%;
    box-shadow: inset 0 0 10px #1aa4ce60;


}


.title,
.sub-title {

    text-align: center;
    color: #596f99;


}

.form-box {
    margin-left: 8%;


}



.inputs {
    display: block;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #596f99;
    margin-bottom: 5%;
    width: 91%;
    padding-bottom: 5%;
    margin-top: 1%;
    border: 1px solid  #47acff;
}



.submit-btn {
    background-color: #47acff;
    border-radius: 13px;
    align-items: center;
    padding: 4% 11%;
    border: none;
    color: white;
    margin-left: 28%;
}