body {
    margin: 0;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);

    height: 100vh;

    row-gap: 10px;
    column-gap: 10px;

}



.div1 {
    grid-column: span 3 / span 3;
    background-color: #000;
    margin-top: 10px;
}

.div2 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-row-start: 2;
    background-color: #dd8f19;

}

.div3 {
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 2;
    background-color: #00b050;

}

.div4 {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-row-start: 4;
    background-color: #007bff;
    margin-bottom: 10px;
}