* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

.container {
  display: flex;
  height: 100vh;
}

.left, .right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2rem;
  font-family: Arial, sans-serif;
}

.left {
  background-color: #ffa600;
}

.right {
  background-color: #0000ff;
}